/* ==================================================
   Section Links
================================================== */

#Links {
position: absolute;
z-index: 1;
top: 70px;
}

#Links h3 {
    left: 0;
    right:0;
    top: 10%;
    color: #FFF;
    position: absolute;
    z-index: 2;
    text-align: center;
}

#Links a img, #Links a h3{
    opacity: 0.5;
    filter: alpha(opacity=50);
    -webkit-transition: opacity 0.5s; /* For Safari 3.1 to 6.0 */
    transition: opacity 0.5s;
}

#Links a:hover img, #Links a:hover h3{
    opacity: 1.0;
    filter: alpha(opacity=100);
}

@media (max-width: 1024px) {
    #Links h3 {
        color: #FFF;
        position: relative;
        z-index: 2;
    }
    
    #Links a h3, #Links a:hover h3{
        opacity: 1.0;
        filter: alpha(opacity=100);
    }
}

@media (max-width: 400px) {
    #Links h3 {
        line-height: 20px;
        font-size: 20px;
    }
}