<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Polyenco</title>   

<meta name="description" content="Site Web de la Junior-Entreprise Polyenco" /> 

<!-- Mobile Specifics -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>   

<!-- Mobile Internet Explorer ClearType Technology -->
<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

<!-- Bootstrap -->
<link href="../webroot/css/bootstrap.min.css" rel="stylesheet">

<!-- Responsive -->
<link href="../webroot/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="../webroot/css/responsive.css" rel="stylesheet">

<!-- Main Style -->
<link href="../webroot/css/main.css" rel="stylesheet">

<!-- Supersized -->
<link href="../webroot/css/supersized.css" rel="stylesheet">
<link href="../webroot/css/supersized.shutter.css" rel="stylesheet">

<!-- FancyBox -->
<link href="../webroot/css/fancybox/jquery.fancybox.css" rel="stylesheet">

<!-- Font Icons -->
<link href="_include/css/fonts.css" rel="stylesheet">

<!-- Shortcodes -->
<link href="../webroot/css/shortcodes.css" rel="stylesheet">

<!-- Google Font -->
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css'>

<!-- Fav Icon -->
<link rel="shortcut icon" href="#">

<link rel="apple-touch-icon" href="#">
<link rel="apple-touch-icon" sizes="114x114" href="#">
<link rel="apple-touch-icon" sizes="72x72" href="#">
<link rel="apple-touch-icon" sizes="144x144" href="#">

<!-- Modernizr -->
<script src="../webroot/js/modernizr.js"></script>


<!-- Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'Insert Your Code']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- End Analytics -->

</head>


<body>
<!-- Splash Screen: écran d'attente -->
<div class="ole">
<section id="jSplash">
	<div id="circle"></div>
</section>
</div>
<!-- Fin du Splash Screen -->

<!-- Header -->
<header>
    <div class="sticky-nav">
    	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        
        <div id="logo">
        	<a href="#Accueil" title="Polyenco"></a>
        </div>
        
        <nav id="menu">
        	<ul id="menu-nav">
            	<li class="current"><a href="#home-slider" id="menu1">Accueil</a></li>
                <li><a href="#Presentation" id="menu2">Présentation</a></li>
                <li><a href="#Competences" id="menu3">Compétences</a></li>
                <li><a href="#Methodologie" id="menu4">Méthodologie</a></li>
                <li><a href="#References" id="menu5">Références</a></li>
                <li><a href="#Contact" id="menu6">Contact</a></li>
         </ul>
        </nav>
    </div>
</header>
<!-- Fin du Header -->


<!-- Homepage Slider -->
<div id="home-slider">	
    <div class="overlay"></div>
    <div class="slider-text">
    	<div id="slidecaption"></div>
    </div>   
	
	<div class="control-nav">
        <a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>
        <a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>
        <ul id="slide-list"></ul>
        
        <a id="nextsection" href="#Presentation"><i class="font-icon-arrow-simple-down"></i></a>
    </div>
</div>
<!-- Fin Homepage Slider -->



<!-- Section Accueil -->
<div id="Accueil">
    <div id="social-area" class="page">
		      <div class="row">
		           <nav id="social">
		               <ul>
		                   <li><a href="https://twitter.com/Polyenco"><span class="font-icon-social-twitter"></span></a></li>
		                   <li><a href="https://www.facebook.com/Polyenco"><span class="font-icon-social-facebook"></span></a></li>
		                   <li><a href="https://plus.google.com/112643057659135338279/posts"><span class="font-icon-social-google-plus"></span></a></li>
		                   <li><a href="https://www.linkedin.com/company/1470627?trk=tyah&trkInfo=tarId%3A1393405148288%2Ctas%3APolyenco%2Cidx%3A2-1-2"><span class="font-icon-social-linkedin"></span></a></li>
		               </ul>
		           </nav>
		      </div>
    </div>
</div>
<!-- Fin Section Accueil -->


<!-- Section Présentation -->
<div id="Presentation" class="page">
	<div class="container">
            <div class="row">
                <h1>Présentation</h1>
            </div>
			<div class="row">
				<img src="../webroot/img/Equipe.jpg" class="img-responsive" alt="Equipe">
			</div>
			<div class="row">
			  <div class="col-xs-12 col-sm-12 col-md-7">
                              <div class="bloc-presentation">
                                        <img src="../webroot/img/Logo.svg" alt="Polyenco">
			  		<h5>
			  			Polyenco, la junior-entreprise de Polytech Lyon, est administrée par ses étudiants.
						</br>Nous nous chargeons de réaliser, pour le bénéfice de clients variés, des projets faisant appel aux connaissances acquises au sein de notre formation.
						</br>Avec ses six filières, notre école forme en effet de futurs ingénieurs compétents et qualifiés. Ce savoir-faire diversifié permet d'effectuer des missions telles que la réalisation ou la maintenance de sites internet, d'applications en informatique industrielle ou médicale, la réalisation ou le suivi d’études de systèmes industriels ainsi que de méthodes de calcul de haute performance.
						</br>Polyenco offre ainsi un lien privilégié entre entreprises et étudiants, en mettant au service des entreprises les compétences et le professionnalisme des élèves de Polytech.
					</h5>
                              </div>
			  </div>
			  <div class="col-xs-12 col-sm-12 col-md-5">
                              <div class="bloc-presentation">
                                        <img src="../webroot/img/J-E.png" alt="Junior Entreprise">
			  		<h5>
			  			Une <b>Junior-Entreprise</b> est une association économique et pédagogique à but non lucratif. 
						</br>Dépendante d'une école ou d'une université, elle permet aux étudiants de réaliser des études grâce aux compétences acquises au sein de leur établissement, et cela pour une clientèle très variée.
						</br>L'ensemble des Junior-entreprise est regroupé autour de la Confédération Nationale des Junior-entreprises (CNJE) dont le rôle est d'assurer que ces associations respectent les chartes de qualité et de déontologie.
						Plus d'informations sur <a href="http://www.junior-entreprises.com/">le site officiel de la CNJE</a>.</br></br>
					</h5>
                              </div>
			  </div>
			</div>
	</div>
</div>
<!-- Fin Section Présentation -->


<!-- Section Compétences -->
<div id="Competences" class="page">
	<div class="container">
            <div class="row">
                <h1>Compétences</h1>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="bloc-competences">
                        <img src="../webroot/img/Informatique.svg" alt="Informatique">
                        <h4>Informatique</br></h4>
                        <h5>Le département informatique forme des ingénieurs compétents dans de nombreux domaines :</br>
                        </br>- Gestion, création et administration de bases de données</br>
                        - Analyse, programmation et développement d’applications web et mobiles sur tous types de support</br>
                        - Connaissances approfondies en systèmes informatiques : systèmes d’exploitation, réseaux et sécurité</br>
                        - Gestion de projets, aide à la décision pour la gérance financière et stratégique</br></br>
                        </h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="bloc-competences">
                        <img src="../webroot/img/MAM.svg" alt="Mathématiques Appliquées et Modélisation">
                        <h4>Mathématiques Appliquées et Modélisation</br></h4>
                        <h5>Les compétences de ces ingénieurs reposent sur une culture des mathématiques appliquées et une maîtrise des outils informatiques :</br>
                        </br>- Analyse des données statistiques industrielles et simulation numérique</br>
                        - Elaboration de schémas de discréditation et des techniques de résolutions des grands systèmes d’équations</br>
                        - Développement de solutions informatiques adaptées aux architectures logicielles et matérielles de calcul
                        </h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="bloc-competences">
                        <img src="../webroot/img/GBM.svg" alt="Génie Biomédical">
                        <h4>Génie Biomédical</br></h4>
                        <h5>Cette formation  est notamment axée sur l’électronique, l’informatique et le biomédical :</br>
                        </br>- Physique des capteurs, traitement du signal et de l’imagerie médicale</br>
                        - Conduite de la politique d’investissement et de la maintenance des plateaux techniques hospitaliers en établissements de soins</br>
                        - Conception et diffusion des dispositifs et équipements biomédicaux depuis leur création jusqu’à leur utilisation</br></br></br></br>
                        </h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="bloc-competences">
                        <img src="../webroot/img/Mecanique.svg" alt="Mécanique">
                        <h4>Mécanique</br></h4>
                        <h5>L’ingénieur mécanicien est capable de gérer les aspects organisationnels, économiques et techniques d’un projet mécanique.</br>
                        </br>- Développement, conception et mise au point de systèmes pluri-techniques</br>
                        - Connaissances en mécanique des fluides, des solides, des structures et en analyse énergétique</br>
                        - Modélisation, calculs et création de pièces mécaniques assistés par ordinateurs</br>
                        </h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="bloc-competences">
                        <img src="../webroot/img/Materiaux.svg" alt="Matériaux et Ingénierie des Surfaces">
                        <h4>Matériaux et Ingénierie des Surfaces</br></h4>
                        <h5>Pôle d’activités pluridisciplinaires en science des matériaux et ingénierie des surfaces et interfaces :</br>
                        </br>- Science des surfaces : caractérisation des performances, traitement et modification des surfaces</br>
                        - Science des matériaux : recherche, développement et production de nouveaux (multi-)matériaux</br>
                        - Conception assistée par ordinateur,  modélisation et qualité
                        </h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="bloc-competences">
                        <img src="../webroot/img/SI.svg" alt="Systèmes Industriels">
                        <h4>Systèmes Industriels</br></h4>
                        <h5>Le département a pour but de former des ingénieurs capables de s’adapter à tous les milieux industriels.</br>
                        </br>- Expertise  des méthodes et du management d’études ou de projets</br>
                        - Nombreux domaines de compétences allant de la mécanique à l’électronique, l’automatisme ou bien l’informatique</br>
                        - Liens importants avec la gestion de la production ou de la qualité en entreprises</br></br>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- Fin Section Compétences -->


<!-- Section Méthodologie -->
<div id="Methodologie" class="page">
	<div class="container">
            <div class="row">
                <h1>Méthodologie</h1>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="bloc-methodologie">
                        <h4>Nos Engagements</br></h4>
                        <h5>
                        Polyenco s'engage à :</br></br></br>
                        - Mettre tout en oeuvre pour respecter vos exigences dans les limites de nos compétences.</br></br></br>
                        - Rester en contact permanent avec vous pour être à l'écoute de vos besoins.</br></br></br>
                        - Effectuer un suivi constant de la qualité des documents et rendus qui vous seront adressés.</br></br></br>
                        - Respecter les termes de confidentialité de toutes les études que vous nous confierez. </br></br></br></br></br></br></br>
                        </h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="bloc-methodologie">
                    <h4>Evolution d'une étude</br></h4>
                    <img src="../webroot/img/Methodologie.svg" alt="Méthodologie">
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- Fin Section Méthodologie -->


<!-- Section Références -->
<div id="References" class="page">
	<div class="container">
            <div class="row">
                <h1>Références</h1>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="bloc-references">
                        
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- Fin Section Références -->


<!-- Section Contact -->
<div id="Contact" class="page">
	<div class="container">
            <div class="row">
                <h1>Contact</h1>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="bloc-contact">
                        
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- Fin Section Contact -->


<!-- Back To Top -->
<a id="back-to-top" href="#">
	<i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->


<!-- Js -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- jQuery Core -->
<script src="../webroot/js/bootstrap.min.js"></script> <!-- Bootstrap -->
<script src="../webroot/js/supersized.3.2.7.min.js"></script> <!-- Slider -->
<script src="../webroot/js/waypoints.js"></script> <!-- WayPoints -->
<script src="../webroot/js/waypoints-sticky.js"></script> <!-- Waypoints for Header -->
<script src="../webroot/js/jquery.isotope.js"></script> <!-- Isotope Filter -->
<script src="../webroot/js/jquery.fancybox.pack.js"></script> <!-- Fancybox -->
<script src="../webroot/js/jquery.fancybox-media.js"></script> <!-- Fancybox for Media -->
<script src="../webroot/js/jquery.tweet.js"></script> <!-- Tweet -->
<script src="../webroot/js/plugins.js"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
<script src="../webroot/js/main.js"></script> <!-- Default JS -->
<!-- End Js -->

</body>